.resume{
    padding-top: 150px;
    padding-bottom: 50px;
}
.resume__title{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
.resume__row{
    text-align: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
.resume__text{
    font-size: 16px;
    font-weight: 500;
    max-width: 800px;
    line-height: 24px;
}
.resume__name{
    font-size:22px;
    font-weight: 600;
    padding-top: 30px;
}
.resume__subtext{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 10px;
}
.resume__span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.resume__container{
    width: 1000px;
    padding: 25px;
    box-shadow: 3px 3px 10px rgb(200, 199, 199);
}
.resume__hr{
    margin-top: 30px;
    margin-bottom: 30px;
}