.service__text{
    font-size: 16px;
    color: rgb(63, 63, 244);
}
.service__title{
    font-size: 50px;
    color: black;
    padding-bottom: 50px;
}
.service{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
}
.service__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service__item{
    width: 32%;
    height: 400px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(63, 63, 244);
    padding: 40px;

}
.fa-mobile,.fa-html5,.fa-js{
    font-size: 50px;
    color: rgb(63, 63, 244);
}
.service__name{
    font-size: 26px;
    padding-top: 25px;
    background-color: white;
    padding-bottom: 15px;
}
.service__subtext{
    font-size: 16px;
    line-height: 24px;
    background-color: white;
}

@media(max-width:1120px){
    .container{
      width: 1000px;
    }
}
@media(max-width:1020px){
    .container{
      width: 900px;
    }
}
@media(max-width:920px){
    .container{
      width: 800px;
    }
}
@media(max-width:820px){
    .container{
      width: 700px;
    }
    .service__item{
        width: 45%;
    }
    .service__list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
@media(max-width:720px){
    .container{
      width: 600px;
    }
}
@media(max-width:620px){
    .container{
      width: 500px;
    }
    .service__item{
        width: 98%;
        height: 330px;
    }

}
@media(max-width:520px){
    .container{
      width: 400px;
    }
    .service__title{
        font-size: 36px;
    }
    .service{
        padding-top: 50px;
        text-align: center;
        padding-bottom: 50px;
    }

}
@media(max-width:420px){
    .container{
      width: 98%;
    }
    .service__item{
        width: 100%;
        height: 350px;
    }
}