.service__text{
    font-size: 16px;
    color: rgb(63, 63, 244);
}
.service__title{
    font-size: 50px;
    color: black;
    padding-bottom: 50px;
}
.service{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
}
.service__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service__item{
    width: 32%;
    height: 400px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(63, 63, 244);
    padding: 40px;

}
.fa-mobile,.fa-html5,.fa-js{
    font-size: 50px;
    color: rgb(63, 63, 244);
}
.service__name{
    font-size: 26px;
    padding-top: 25px;
    background-color: white;
    padding-bottom: 15px;
}
.service__subtext{
    font-size: 16px;
    line-height: 24px;
    background-color: white;
}