*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
    background-color:aliceblue;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
